body {
  margin: 0;
  padding: 0;
  font-family: initial;
  background: linear-gradient(to left,rgb(57, 160, 179)0%,rgb(91, 97, 153)100%)
  /* background-size: cover; */ 
  /* background: rgb(145, 16, 16); */
  
}


